version: '3.7'
services:
  hospital-agent:
    image: bcgovimages/aries-cloudagent:py3.12_1.2.0
    container_name: hospital_agent
    environment:
      - ACAPY_LABEL=City_Hospital_Issuer
      - ACAPY_ADMIN=["0.0.0.0", "8021"]
      - ACAPY_ADMIN_API_KEY=super-secret-admin-api-key-123
      - ACAPY_WALLET_KEY=VeryStrongHospitalWalletKey
      - ACAPY_GENESIS_URL=http://host.docker.internal:9000/genesis
      - ACAPY_ENDPOINT=http://hospital-agent:8020
      - ACAPY_INBOUND_TRANSPORT=[["http", "0.0.0.0", "8020"]]
      - ACAPY_OUTBOUND_TRANSPORT=["http"]
      - ACAPY_PUBLIC_DID_SEED=very_strong_hospital_seed0000000
      - ACAPY_ENDORSER_ROLE=ENDORSER
      - ACAPY_AUTO_PROVISION=true
      - ACAPY_WALLET_ALLOW_INSECURE_SEED=true
      - ACAPY_AUTO_ACCEPT_INVITES=true
      - ACAPY_AUTO_STORE_CREDENTIAL=true
      # Ревокация
      - ACAPY_NOTIFY_REVOCATION=true  # Разрешить уведомления об отзыве
      - ACAPY_AUTO_REVOKE_CREDENTIALS=false  # Ручное управление отзывом
      # Webhook для получения транзакций на подпись от регулятора
      - ACAPY_WEBHOOK_URL=http://host.docker.internal:8050/webhooks
      
      # Включение протокола эндоузинга для работы с регулятором
      - ACAPY_ENDORSER_PROTOCOL_ROLE=endorser
      - ACAPY_AUTO_ENDORSE_TRANSACTIONS=false  # Ручное подтверждение транзакций
      - ACAPY_TAILS_SERVER_BASE_URL=http://host.docker.internal:6543
      - ACAPY_TAILS_SERVER_UPLOAD_URL=http://host.docker.internal:6543/upload
      - USER=root
    user: root
    ports:
      - "8020:8020" # Транспорт для обмена с другими агентами
      - "8021:8021" # Административный API для контроллера
      - "6543:6543"
    volumes:
      - hospital_wallet_data:/home/indy/.indy_client/wallet
      - hospital_tails_data:/home/indy/.indy_client/tails
    
    command: >
      start
      --wallet-name HospitalWallet
      --wallet-key VeryStrongHospitalWalletKey
      --endpoint http://hospital-agent:8020
      --auto-provision
      --auto-accept-invites
      --auto-accept-requests
      --auto-store-credential
      --preserve-exchange-records
volumes:
  hospital_wallet_data:
  hospital_tails_data: